* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, sans-serif;
}

.downloader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.form-container {
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-container-checkbox {
    width: 100%;
    margin-bottom: 20px;
}

.input-container input, select {
    padding-left: 15px;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.button {
    margin-top: 20px;
    width: 200px;
    height: 45px;
    outline: none;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all .5s ease-in;
}

.button:hover {
    background: black;
    color: white;
}

/* --------------------------------------------*/
/* Loader */
/* --------------------------------------------*/
.loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: loading-dual-ring 1.2s linear infinite;
}

.loading-message {
    margin-top: 20px;
}

@keyframes loading-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* --------------------------------------------*/
/* Messages */
/* --------------------------------------------*/
.message-success {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    color: black;
    border: 1px solid #3A7734;
    border-radius: 20px;
    background-color: #b4fcad;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-fail {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    color: black;
    border: 1px solid #9C1A1C;
    border-radius: 20px;
    background-color: #fdadaf;
    display: flex;
    justify-content: center;
    align-items: center;
}
